
    /* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= BASE ================= */
html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
font-family: 'Montserrat', sans-serif;
}

/* ================= PAGE TRANSITION ================= */
.page-transition {
  position: fixed;
  inset: 0;
  /* background: #1d6c78; */
  z-index: 9999;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.8s ease;
}
.page-transition.active { transform: scaleX(1); }

/* ================= FLOATING ICONS ================= */
.floating-element {
  position: fixed;
  font-size: 38px;
  opacity: 0.3;
  animation: float 6s ease-in-out infinite;
  z-index: 1;
}
@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

/* ================= CURSOR ================= */
.cursor-dot,
.cursor-outline {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  z-index: 10000;
}
.cursor-dot {
  width: 10px;
  height: 10px;
  background: #fff;
}
.cursor-outline {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  transition: all 0.15s ease-out;
}
/* ================= NEXT PAGE BUTTON ================= */
.next-page-btn,.next-back-btn{
  position: fixed;
  transform: translateY(-50%);
  width: 160px;
  height: 50px;
  border-radius: 10px;
  background: transparent;
  color: gray;
  border: none;
  border: 2px solid #fff;
  cursor: pointer;
  z-index: 1000;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.next-page-btn{
 top: 50%;
 right: 2%;
}
.next-back-btn{
top: 50%;
left: 2%;
}

/* text inside */
 .next-page-btn .nbtn {
  font-size: 14px;
  font-weight: 600;
  color: gray;
  letter-spacing: 1px;
  white-space: nowrap;
}
 .next-back-btn .nbtn {
  font-size: 14px;
  font-weight: 600;
  color: gray;
  letter-spacing: 1px;
  white-space: nowrap;
}

/* icon */
.next-page-btn,.next-back-btn i {
  font-size: 18px;
  transition: 0.3s;
}

/* hover */
.next-page-btn:hover {
  background: #B31802;
  color: #fff;
  transform: translateY(-50%) scale(1.1);
}
.next-page-btn:hover .nbtn{
  color: #fff;

}
.next-back-btn:hover .nbtn{
  color: #fff;

}

.next-back-btn:hover {
  background: #B31802;
  color: #fff;
  transform: translateY(-50%) scale(1.1);
}

.next-page-btn:hover i {
  transform: translateX(5px);
}
.next-back-btn:hover i {
  transform: translateX(-5px);
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
 
.next-page-btn,.next-back-btn {
    top: auto;
    bottom: 20px;
    transform: none;
    width: 160px;
    height: 50px;
    border-radius: 12px;
    background: transparent;
    color: gray;
    flex-direction:row;
  }
  /* text inside */
 .next-page-btn .nbtn {
  font-size: 14px;
  font-weight: 600;
  color: gray;
  letter-spacing: 1px;
  white-space: nowrap;
}
 .next-back-btn .nbtn {
  font-size: 14px;
  font-weight: 600;
  color: gray;
  letter-spacing: 1px;
  white-space: nowrap;
}
  .next-page-btn,.next-back-btn i {
    font-size: 16px;
  }
/* hover */
  .next-page-btn:hover {
  background: #B31802;
  transform: translateY(0);
}

.next-back-btn:hover {
  background: #B31802;
  transform: translateY(0);
}
.next-page-btn:hover .nbtn{
  color: #fff;

}
.next-back-btn:hover .nbtn{
  color: #fff;

}

.next-page-btn:hover i {
  transform: translateX(5px);
}
.next-back-btn:hover i {
  transform: translateX(-5px);
}
  .cursor-dot,.cursor-outline{
    display: none;
  }

}
/* ================= SMALL MOBILE ================= */
@media (max-width: 480px) {
  /* .next-page-btn {
    width: 140px;
    height: 45px;
  } */

  .next-page-btn .nbtn {
    font-size: 14px;
  }
}

 /* ================= CONTACT FLOAT BTN ================= */
.contact-open-btn{
  position:fixed;right:55px;bottom:25px;
  width:60px;height:60px;border-radius:50%;
  background:linear-gradient(135deg,#1d6c78);
  color:#fff;border:none;font-size:22px;
  cursor:pointer;z-index:1200;
  box-shadow:0 20px 40px rgba(0,0,0,.35)
}

/* ================= CONTACT SIDEBAR ================= */
.contact-sidebar{
  position:fixed;top:0;right:-450px;
  width:350px;height:100vh;
  background:#1d6c78;
  backdrop-filter:blur(16px);
  padding:30px;transition:.4s;
  z-index:1300
}
.contact-sidebar.active{right:0}

.close-btn{
  position:absolute;top:18px;right:25px;color: #fff;
  width:38px;height:38px;border-radius:50%;
  background:#1d6c78;display:flex;align-items:center;justify-content:center;
  cursor:pointer;font-size:22px
}

.input-box{position:relative;margin-bottom:16px}
.input-box i{position:absolute;left:14px;top:50%;transform:translateY(-50%)}
.input-box input,.input-box textarea{
  width:100%;padding:14px 14px 14px 40px;
  border-radius:10px;border:1px solid #ddd
}

.contact-form button{
  width:100%;padding:14px;border-radius:50px;
  border:none;background:#1d6c78;color:#fff
}
.whatsapp-btn{
    text-decoration: none;
    color: #fff;
    font-size: 20px;

}
.social-icons a{
    font-size: 20px;
    color: #fff;
}
.subscribe-box h4{
    font-size: 20px;

}
.subscribe-box input{
    display: flex;
    gap: 0px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.subscribe-box button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #fff;
    color: #1d6c78;
}
.map-box{
    margin-top: 20px;
}
.contact-address h5{
    font-size: 25px;
    color: #fff;
}
.contact-address p{
    font-size: 20px;
    color: #fff;
}


/* ================= RESPONSIVE ================= */

/* -------- Tablets -------- */
@media (max-width: 992px) {

  .contact-open-btn{
    right: 20px;
    top: 20px;
    width: 55px;
    height: 55px;
    font-size: 20px;
  }

  .contact-sidebar{
    width: 320px;
    padding: 25px;
  }

  .contact-title{
    font-size: 22px;
  }

  .contact-sub{
    font-size: 14px;
  }

  .contact-address h5{
    font-size: 22px;
  }

  .contact-address p{
    font-size: 16px;
  }
}


/* -------- Mobile -------- */
@media (max-width: 768px) {

  .contact-open-btn{
    right: 10px;
    bottom: 25px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: #fff;
  }

  .contact-sidebar{
    width: 100%;
    right: -100%;
    padding: 20px;
  }

  .contact-sidebar.active{
    right: 0;
  }

  .close-btn{
    top: 15px;
    right: 30px;
    width: 54px;
    height: 54px;
    font-size: 25px;
    color: #fff;
  }

  .whatsapp-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    margin: 15px 0;
  }

  .social-icons{
    margin: 15px 0;
    display: flex;
    gap: 15px;
  }

  .subscribe-box h4{
    font-size: 18px;
  }

  .subscribe-box input{
    height: 45px;
    font-size: 14px;
  }

  .subscribe-box button{
    width: 50%;
    font-size: 15px;
  }

  .map-box iframe{
    width: 100%;
    height: 180px;
    border-radius: 10px;
  }

  .contact-address h5{
    font-size: 20px;
    margin-top: 20px;
  }

  .contact-address p{
    font-size: 15px;
  }
}


/* -------- Small Mobile -------- */
@media (max-width: 480px) {

  .contact-open-btn{
    width: 45px;
    height: 45px;
    font-size: 16px;
  }

  .contact-title{
    font-size: 20px;
  }

  .whatsapp-btn{
    font-size: 16px;
  }

  .social-icons a{
    font-size: 18px;
  }

  .map-box iframe{
    height: 150px;
  }
}
/* hero section */

/* ================= HERO ================= */
.hero{
  min-height:100vh;
  background:
 linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
 url("./images/bg2.avif");
  background-size: cover;
  background-position: center;
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:space-around;
  gap:0;
  padding:0px 150px;
  position:relative;
  overflow:hidden;
}

/* Background carousel */
/* .hero::after{
  content:"";
  position:absolute;
  inset:0;
  z-index:-2;
  background-size:cover;
  background-position:center;
  animation:bgCarousel 18s infinite ease-in-out,
           bgZoom 18s infinite linear;
} */

/* Soft overlay */
/* .hero::before{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(250,247,242,.78);
  z-index:-1;
} */

/* Carousel images */
/* @keyframes bgCarousel{
  0%{
    background-image:url("https://images.unsplash.com/photo-1519741497674-611481863552?auto=format&fit=crop&w=1600&q=80");
  }
  33%{
    background-image:url("https://images.unsplash.com/photo-1529634806980-85c3dd6d34ac?auto=format&fit=crop&w=1600&q=80");
  }
  66%{
    background-image:url("https://images.unsplash.com/photo-1511285560929-80b456fea0bc?auto=format&fit=crop&w=1600&q=80");
  }
  100%{
    background-image:url("https://images.unsplash.com/photo-1519741497674-611481863552?auto=format&fit=crop&w=1600&q=80");
  }
}

@keyframes bgZoom{
  0%,100%{transform:scale(1)}
  50%{transform:scale(1.08)}
} */

/* ================= IMAGE ================= */
.image-section{
  width:420px;
  height:500px;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 30px 60px rgba(0,0,0,.25);
}
.image-section img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:1s;
}
.image-section:hover img{transform:scale(1.1)}

.describe{
  max-width:380px;
  line-height:1.8;
  color:#fff;
}

.hero-content{
  text-align:center;
  max-width:350px;
  color:#fff;
  padding-right: 100px;
}
.hero-content img{
  width:180px;
  border-radius:50%;
  margin-bottom:20px;
}
.hero-content h1{
  font-family:'Playfair Display',serif;
  font-size:48px;
  letter-spacing:3px;
}
.date,.count{margin-top:10px;letter-spacing:2px}
.footer{
  display: none;
}
/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 992px){
  .hero{
    padding:40px 40px;
    justify-content:center;
  }

  .image-section{
    width:360px;
    height:400px;
  }

  .hero-content h1{
    font-size:40px;
  }
}

/* Mobile */
@media (max-width: 768px){
  .hero{
    flex-direction:column;
    padding:0;
    text-align:center;
  }

  .image-section {
    width:100%;
    width:250px;
    height:50px;
  }

  .describe{
    max-width:100%;
    font-size:16px;
    margin-top: 20px;
  }

  .hero-content{
    max-width:100%;
    padding-right: 0;
    margin-top: 0;
  }


  .hero-content img{
    width:100px;
  }

  .hero-content h1{
    font-size:22px;
    letter-spacing:2px;
  }
  .footer{
  display: block;
  width: 100%;
  height: 80px;
  margin-top: 10px;
}
}

/* Small Mobile */
@media (max-width: 480px){
  .hero{
    padding:20px 15px;
  }

  .image-section{
    height:360px;
  }

  .hero-content h1{
    font-size:26px;
  }

  .date,.count{
    font-size:12px;
    letter-spacing:1px;
  }
}
